#root {
  max-width: 1280px;
  margin: 0 auto;
}

.app-container {
  display: flex;
}

.app-container > div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}